{% extends "base.html" %}

{% block contentid %}
{% endblock %}

{% block content %}
	<div class="login">
		<div>
			<center><h1><a href="/demo_choose_type/">see the demo</a></h1></center>
		</div>
		<div id="container">
			<form action="/login/" method="POST">
				<div class="form-row">
					{{form.as_p}}	
				</div>
				<input type="submit" value="login" />
			</form>

			<p><a href="{% url password_reset %}">forgot password?</a></p>
			<a href="/register/">register</a><br/>
		</div>
	</div>
{% endblock %}
