{% extends "base_view.html" %}
{% block scriptinclude %}
	<script type="text/javascript" src="/site_media/defaults.js"></script>
	<script type="text/javascript" src="/site_media/earray.js"></script>
	<script type="text/javascript" src="/site_media/genericgui.js"></script>
	<script type="text/javascript" src="/site_media/controller.js"></script>
	<script type="text/javascript" src="/site_media/classView.js"></script>
	<script type="text/javascript" src="/site_media/classfactory.js"></script>
	<script type="text/javascript" src="/site_media/baseview.js"></script>
	<script type="text/javascript" src="/site_media/jquery-1.4.1.js"></script>
	<script type="text/javascript" src="/site_media/classdeserializer.js"></script>
	<script type="text/javascript" src="/site_media/cs.js"></script>
	<script type="text/javascript" src="/site_media/main.js"></script>
	<script type="text/javascript" src="/site_media/baseToSerialize.js"></script>
	<script type="text/javascript" src="/site_media/collisions.js"></script>
	<script type="text/javascript" src="/site_media/connector.js"></script>
	<script type="text/javascript" src="/site_media/stylemanager.js"></script>
	<script type="text/javascript" src="/site_media/buttonmaker.js"></script>
	<script type="text/javascript" src="/site_media/idmanager.js"></script>
	<script type="text/javascript" src="/site_media/start.js"></script>
	<script type="text/javascript" src="/site_media/windowCreator.js"></script>
	<script type="text/javascript" src="/site_media/basegui.js"></script>
	<script type="text/javascript" src="/site_media/movemanager.js"></script>
	<script type="text/javascript" src="/site_media/resizer.js"></script>
	<script type="text/javascript" src="/site_media/serializator.js"></script>
	<script type="text/javascript" src="/site_media/deserializer.js"></script>
	<script type="text/javascript" src="/site_media/classObj.js"></script>
	<script type="text/javascript" src="/site_media/ct.js"></script>
	<script type="text/javascript" src="/site_media/tooltipmanager.js"></script>
	<script type="text/javascript" src="/site_media/widgetgenerator.js"></script>
	<script type="text/javascript" src="/site_media/classViewManager.js"></script>

	<!-- ASM diagram -->
	<script type="text/javascript" src="/site_media/asmModels.js"></script>
	<script type="text/javascript" src="/site_media/asmViews.js"></script>
	<script type="text/javascript" src="/site_media/asmfactory.js"></script>

{% endblock %}
